p{
    text-align: center;
    
}

body{
    background-color: #ad2d74;
}
em strong{
    color:rgb(106, 113, 214);
}
 h1 {
    color:black;
    text-align: center
    

 }
 #mision{
    font-size: 20px;
 }